<!-- Héritage de template ? Block(s) ? -->
{% extends "base.html" %}

{% block main %}
<section>
    <h2>The world of Jurassic Park</h2>
    <!-- iterate here ? -->
    {% for dino in list %}
        <a href="{{url_for('desc_dino',slug=dino.slug)}}">
            <figure>
                <img src="{{dino.avatar}}" alt="{{ dino.name }}" />
                <figcaption>Discover the {{ dino.name }}</figcaption>
            </figure>
        </a>
    {% endfor %}
</section>
{% endblock %}